{% extends "layout-lpa.html" %}

{% block pageTitle %}
  Please complete | Appeal a planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Continue your appeal later</h1>
      <p>We'll send you an email to confirm your email address. ​</p>
      <p>Once you've confirmed, we'll email you again with a link to get back into your appeal.</p>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

      </form>

    </div>
  </div>

{% endblock %}
