{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Inspector Screens - My Appeals
{% endblock %}

{% block content %}
<style>

.govuk-header__container {
    border-bottom: 10px solid #009999;
}

</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  <p></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p align="right"> <b>Inspector: </b>Marie Lightman</p>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
          <div class="govuk-form-group">


          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <form action="visit-summary" method="post" novalidate>


                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                      What time do you want to carry out your site visit?
                      </h1>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="site-visit-time" name="site-visit-time" type="radio" value="9:00am - 11:00am">
                        <label class="govuk-label govuk-radios__label" for="site-visit-time">
                          9:00am - 11:00am
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="site-visit-time-2" name="site-visit-time" type="radio" value="10:00am - midday">
                        <label class="govuk-label govuk-radios__label" for="site-visit-time-2">
                          10:00am - midday
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="site-visit-time-3" name="site-visit-time" type="radio" value="11:00am - 1:00pm">
                        <label class="govuk-label govuk-radios__label" for="site-visit-time-3">
                          11:00am - 1:00pm
                        </label>
                      </div>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="site-visit-time4" name="site-visit-time" type="radio" value="midday - 2:00pm">
                          <label class="govuk-label govuk-radios__label" for="site-visit-time4">
                            midday - 2:00pm
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="site-visit-time-5" name="site-visit-time" type="radio" value="1:00pm - 3:00pm">
                          <label class="govuk-label govuk-radios__label" for="site-visit-time-5">
                            1:00pm - 3:00pm
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="site-visit-time-6" name="site-visit-time" type="radio" value="2:00pm - 4:00pm">
                          <label class="govuk-label govuk-radios__label" for="site-visit-time-6">
                            2:00pm - 4:00pm
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="site-visit-time-7" name="site-visit-time" type="radio" value="3:00pm - 5:00pm">
                          <label class="govuk-label govuk-radios__label" for="site-visit-time-7">
                            3:00pm - 5:00pm
                          </label>
                        </div>
                    </div>

                  </fieldset>
                </div>
                  <br>
              <input type="hidden" name="answers-checked" value="true">

              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>

              </form>

          </fieldset>
        </div>

    </div>
  </div>
{% endblock %}
