{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Inspector Screens - My Appeals
{% endblock %}

{% block content %}
<style>

.govuk-header__container {
    border-bottom: 10px solid #009999;
}

</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  <p></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p align="right"> <b>Inspector: </b>Marie Lightman</p>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
          <div class="govuk-form-group">


          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    
                {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "what-type-of-site-visit",
            name: "what-type-of-site-visit",
            fieldset: {
              legend: {
                text: "What time do you want to carry out your site visit?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "9:00am - 11:00am",
                text: "9:00am - 11:00am"
              },
              {
                value: "10:00am - midday",
                text: "10:00am - midday"
              },
              {
                value: "11:00am - 1:00pm",
                text: "11:00am - 1:00pm"
              },
              {
                value: "midday - 2:00pm",
                text: "midday - 2:00pm"
              },
              {
                value: "1:00pm - 3:00pm",
                text: "1:00pm - 3:00pm"
              },
              {
                value: "2:00pm - 4:00pm",
                text: "2:00pm - 4:00pm"
              },
              {
                value: "3:00pm - 5:00pm",
                text: "3:00pm - 5:00pm"
              }
          ]

          }) }}
          </fieldset>
        </div>


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "visit-summary.html"
}) }}


    </div>
  </div>
{% endblock %}
