{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Inspector Screens - My Appeals
{% endblock %}

{% block content %}
<style>

.govuk-header__container {
    border-bottom: 10px solid #224d42;
}

</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p></p>
  </div>
  <div class="govuk-grid-column-one-half">
  <p align="right"> <b>Inspector: </b>Marie Lightman</p>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "what-type-of-site-visit",
  name: "what-type-of-site-visit",
  fieldset: {
    legend: {
      text: "What type of site visit are you arranging?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "ARSV",
      text: "Access required site visit (ARSV)"
    },
    {
      value: "USV",
      text: "Uncaccompanied (USV)"
    },
    {
      value: "ASV",
      text: "Accompanied (ASV)"
    }
]

}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "visit-date.html"
}) }}


    </div>
  </div>
{% endblock %}
