
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

    <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="index">All my appeals</a>
    </li>
  </ol>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        27 High Street, PL4 2AA
        <span class="govuk-caption-xl">Appeal Reference: APP/2020/56789/01234</span>
      </h1>


      <h2 class="govuk-heading-m"> </h2>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">
<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-case">Case Files</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-visit">Site Visit</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" aria-current="page" href="appeal1-decision">Decision</a>
</li>
</ul>

</nav>

<h2 class="govuk-heading-l">Decision</h2>
        <p>
    <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    <b>No documents found.</b><br><br>
    <a href="#">Link to Dart</a> to make the decision.<br><br>
  </label>

  <div class="govuk-form-group">
    <label class="govuk-label" for="file-upload-1">
      <b>Upload a file</b>
    </label>
    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
  </div>
</div>










{% endblock %}
