
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

    <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="index">All my appeals</a>
    </li>
  </ol>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        27 High Street, PL4 2AA
        <span class="govuk-caption-xl">Appeal Reference: APP/2020/56789/01234</span>
      </h1>


      <h2 class="govuk-heading-m"> </h2>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">
<li class="moj-sub-navigation__item" >
  <a class="moj-sub-navigation__link" href="appeal1-case.html">Case Files</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" aria-current="page" href="appeal1-visit.html">Site Visit</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-decision.html">Decision</a>
</li>
</ul>

</nav>

     <h2 class="govuk-heading-l">Case Files</h2>


   <table class="govuk-table">

   <br>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Site visit</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not scheduled</strong></td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Agent name</th>
      <td class="govuk-table__cell">Mary Gray</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Target date</th>
      <td class="govuk-table__cell">23 January 2021</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Description of works</th>
      <td class="govuk-table__cell">Loft conversion end of terrace</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Local Planning Authority</th>
      <td class="govuk-table__cell">Bradford Council</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Appellant name</th>
      <td class="govuk-table__cell">Manish Sharma</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Appellant email address</th>
      <td class="govuk-table__cell">manish.sharma@gmail.com</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Appellant phone number</th>
      <td class="govuk-table__cell">01234567890</td>
    </tr>
  </tbody>
</table>



<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Appellant's documents
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <table class="govuk-table">
      <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Name of applicant</th>
         <td class="govuk-table__cell">Manish Sharma</td>

       </tr>
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Date of application</th>
         <td class="govuk-table__cell">12 December 2020</td>
       </tr>
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Application documents</th>
         <td class="govuk-table__cell"><a href="#">Planning application form</a><br>
          <a href="#">Decision letter</a>
         </td>
       </tr>
           <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Appeal documents</th>
         <td class="govuk-table__cell"><a href="#">Appeal statement</a><br>
          <a href="#">Appeal form</a>
         </td>
       </tr>
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Other supporting documents</th>
         <td class="govuk-table__cell"><a href="#">Supporting docs uploaded by appellant</a></td>
       </tr>
      </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Plans and Planning Officer's report
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <table class="govuk-table">
      <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Name of applicant</th>
         <td class="govuk-table__cell">Manish Sharma</td>

       </tr>
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Date of application</th>
         <td class="govuk-table__cell">12 December 2020</td>
       </tr>
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Application documents</th>
         <td class="govuk-table__cell"><a href="#">Planning application form</a><br>
          <a href="#">Decision letter</a>
         </td>
       </tr>
           <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Appeal documents</th>
         <td class="govuk-table__cell"><a href="#">Appeal statement</a><br>
          <a href="#">Appeal form</a>
         </td>
       </tr>
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Other supporting documents</th>
         <td class="govuk-table__cell"><a href="#">Supporting docs uploaded by appellant</a></td>
       </tr>
      </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Local Planning Authority appeal information
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>This is the content for Writing well for appeal statement.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
          Other supporting documents from Local Planning Authority
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
      <p class='govuk-body'>This is the content for Writing well for the site inspection.</p>
    </div>
  </div>



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="site-visit">
    <h2 class="govuk-heading-l">Site Visit</h2>




<p>An <b>Unaccompanied Visit has been arranged for: </b><br>

<br>03 February 2021 at 9:00am - <a href="#">Reschedule Visit</a><br>
<br>Please be aware that rescheduling a visit will automatically send out a new letter to the apellent / agent.
</p>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Contact Information
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>This is the content for Writing well for the application form.</p>



  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case officer
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Case Officer Name</p>
      <p class="govuk-body">0123456 7890</p>
      <p class="govuk-body">caseofficer1@planninginspectorate.gov.uk</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Apellant details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Appellant Name</p>
      <p class="govuk-body">07700 900457</p>
      <p class="govuk-body">sarah.phillips@example.com</p>
    </dd>
  </div>
</dl>


    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Special Arrangements
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>This are no special arrangements for this site visit.</p>
    </div>
  </div>






</div>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="decision">
    <h2 class="govuk-heading-l">Decision</h2>
        <p>
    <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a decision notice here. Or link to <a href="#">Dart</a>.
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>
</p>
  </div>

</div>







{% endblock %}
