{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        All My Appeals
        <span class="govuk-caption-xl">Prototypes List</span>
      </h1> 
      

      <h2 class="govuk-heading-m">Beta</h2>

      <p>Below is a list of all your Appeals cases. <br>Click on an address to view the case files.</p>


<table class="govuk-table">
  <caption class="govuk-table__caption">&nbsp;</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Site Address</th>
      <th scope="col" class="govuk-table__header app-custom-class">Appeal Reference</th>
      <th scope="col" class="govuk-table__header app-custom-class">Target Date</th>
       <th scope="col" class="govuk-table__header app-custom-class">Local Planning Authority</th>
    </tr>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="appeal1.html">8 High Street, Plymouth, PL4 2AA</a></td>
      <td class="govuk-table__cell">APP / 2020 / 56789 / 01234</td>
      <td class="govuk-table__cell">12 Feb 2021</td>
      <td class="govuk-table__cell">Council Name</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="appeal1.html">7 High Street, Plymouth, PL4 2AA</a></td>
      <td class="govuk-table__cell">APP / 2020 / 56789 / 01234</td>
      <td class="govuk-table__cell">12 Feb 2021</td>
      <td class="govuk-table__cell">Council Name</td>
    </tr>
    <tr class="govuk-table__row">
     <td scope="row" class="govuk-table__cell"><a href="appeal1.html">7 High Street, Plymouth, PL4 2AA</a></td>
      <td class="govuk-table__cell">APP / 2020 / 56789 / 01234</td>
      <td class="govuk-table__cell">12 Feb 2021</td>
      <td class="govuk-table__cell">Council Name</td>
    </tr>
  </tbody>
</table>



    </div>
  </div>
{% endblock %}
