{% extends "layouts/eligibility/v9.html" %}

{% block pageTitle %}
  Was your planning permission granted or refused? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukRadios({
          idPrefix: "eligibility-"+version+"-permissiongrantedrefused",
          name: "eligibility-"+version+"-permissiongrantedrefused",
          fieldset: {
            legend: {
              text: "Was your planning permission granted or refused?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Granted",
              text: "Granted"
            },
            {
              value: "Refused",
              text: "Refused"
            },
            {
              divider: "or"
            },
            {
              value: "I have not received a decision",
              text: "I have not received a decision"
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this quesiton
            </span>
          </summary>
          <div class="govuk-details__text">
            
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
