{% extends "layouts/eligibility/v9.html" %}

{% block pageTitle %}
  Are you agreeable to the appeal following the written representations? - Eligibility - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukRadios({
          idPrefix: "eligibility-"+version+"-writtenrepresentations",
          name: "eligibility-"+version+"-writtenrepresentations",
          fieldset: {
            legend: {
              text: "Are you agreeable to the appeal following the written representations?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this quesiton
            </span>
          </summary>
          <div class="govuk-details__text">
            
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
