{% from "../macros/version.html" import versionNumber %}
{% extends "layouts/oam-greys-searchstandalone.html" %}
{% set signedin = "regular" %}
{% set usertype = "Administrator" %}
{% block page_title %}
  Accounts -
{% endblock %}

{% block version %}{{ versionNumber() }}{% endblock %}

{% set items = [
  {
    "type": "electricity",
    "account": 602898246,
    "address": "1 Ridgehill, Bristol BS9 4SB",
    "bill_amount": "311.71",
    "bill_date": "7 Jan 2018",
    "direct_debit": "yes",
    "balance": "56.40",
    "debit": "98.58",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 601121887,
    "address": "12 Hallsenna Rd, Seascale CA20 1JP",
    "bill_amount": "145.87",
    "bill_date": "22 Feb 2018",
    "direct_debit": "no",
    "balance": "60.37",
    "debit": "61.06",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602464524,
    "address": "1 Brookfield Ave, Houghton Regis, Dunstable LU5 5TS",
    "bill_amount": "170.30",
    "bill_date": "6 Apr 2018",
    "direct_debit": "yes",
    "balance": "75.12",
    "debit": "81.44",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 601696336,
    "address": "3 Kings Ct, Broadwindsor, Beaminster DT8 3QA",
    "bill_amount": "50.55",
    "bill_date": "8 Jan 2018",
    "direct_debit": "no",
    "balance": "92.96",
    "debit": "73.54",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601794943,
    "address": "21 Kingseat Dr, Tillicoultry FK13 6RE",
    "bill_amount": "280.09",
    "bill_date": "16 Feb 2018",
    "direct_debit": "no",
    "balance": "88.79",
    "debit": "89.27",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602474656,
    "address": "25 The Green, Southall UB2 4AN",
    "bill_amount": "361.98",
    "bill_date": "7 Apr 2018",
    "direct_debit": "yes",
    "balance": "65.50",
    "debit": "85.47",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602638768,
    "address": "5 Balkerach St, Doune FK16 6DE",
    "bill_amount": "229.08",
    "bill_date": "24 Apr 2018",
    "direct_debit": "yes",
    "balance": "68.80",
    "debit": "59.58",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602851046,
    "address": "70 The Dene, Consett DH8",
    "bill_amount": "165.21",
    "bill_date": "1 Mar 2018",
    "direct_debit": "no",
    "balance": "97.96",
    "debit": "63.72",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601495090,
    "address": "1 Fronyw, Talsarnau LL47 6UL",
    "bill_amount": "220.08",
    "bill_date": "17 Jan 2018",
    "direct_debit": "yes",
    "balance": "99.99",
    "debit": "59.64",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601340886,
    "address": "Foulsham Rd, Dereham NR20 5BY",
    "bill_amount": "369.75",
    "bill_date": "9 Jan 2018",
    "direct_debit": "yes",
    "balance": "88.16",
    "debit": "85.86",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 601166501,
    "address": "32 Clock View Crescent, Market Estate, London N7 9GP",
    "bill_amount": "349.49",
    "bill_date": "17 Apr 2018",
    "direct_debit": "yes",
    "balance": "79.98",
    "debit": "97.55",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602712443,
    "address": "1 Queens Ave, Factory Rd, Birmingham B18 5JX",
    "bill_amount": "178.00",
    "bill_date": "7 Apr 2018",
    "direct_debit": "no",
    "balance": "82.01",
    "debit": "57.77",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 601280556,
    "address": "Undercliff Dr, Niton, Ventnor PO38",
    "bill_amount": "208.38",
    "bill_date": "11 Feb 2018",
    "direct_debit": "no",
    "balance": "80.46",
    "debit": "91.53",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600943785,
    "address": "32 Clock View Crescent, Market Estate, London N7 9GP",
    "bill_amount": "53.28",
    "bill_date": "16 Mar 2018",
    "direct_debit": "no",
    "balance": "86.05",
    "debit": "69.17",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602300453,
    "address": "Unnamed Road, Ardgay IV24 3AR",
    "bill_amount": "128.39",
    "bill_date": "1 Jan 2018",
    "direct_debit": "yes",
    "balance": "83.00",
    "debit": "88.56",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600525105,
    "address": "1 Whitelow Rd, Manchester M21",
    "bill_amount": "338.77",
    "bill_date": "11 Mar 2018",
    "direct_debit": "no",
    "balance": "85.51",
    "debit": "50.55",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602931518,
    "address": "1 Fronyw, Talsarnau LL47 6UL",
    "bill_amount": "172.04",
    "bill_date": "9 Feb 2018",
    "direct_debit": "no",
    "balance": "77.63",
    "debit": "77.36",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602013187,
    "address": "Weybridge Delivery Office, 1 Elmgrove Rd, Weybridge KT13 8AA",
    "bill_amount": "312.98",
    "bill_date": "25 Jan 2018",
    "direct_debit": "yes",
    "balance": "58.28",
    "debit": "52.10",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601143271,
    "address": "28-30 Southdown Rd, Bristol BS9",
    "bill_amount": "79.76",
    "bill_date": "17 Mar 2018",
    "direct_debit": "no",
    "balance": "83.30",
    "debit": "69.00",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602805253,
    "address": "35 Dee St, Ballater AB35 5QS",
    "bill_amount": "148.41",
    "bill_date": "6 Mar 2018",
    "direct_debit": "no",
    "balance": "50.63",
    "debit": "67.36",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 601473464,
    "address": "11 Garnedd Maes, Cemaes Bay LL67 0DR",
    "bill_amount": "372.34",
    "bill_date": "18 Mar 2018",
    "direct_debit": "no",
    "balance": "99.00",
    "debit": "65.27",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 600594282,
    "address": "5 Poltimore Rd, South Molton EX36 4DE",
    "bill_amount": "244.45",
    "bill_date": "19 Jan 2018",
    "direct_debit": "no",
    "balance": "74.56",
    "debit": "86.35",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601058226,
    "address": "35 Dee St, Ballater AB35 5QS",
    "bill_amount": "86.10",
    "bill_date": "8 Jan 2018",
    "direct_debit": "yes",
    "balance": "51.43",
    "debit": "92.77",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602301831,
    "address": "Coventry Rd, Coventry CV3 6SD",
    "bill_amount": "102.52",
    "bill_date": "13 Apr 2018",
    "direct_debit": "yes",
    "balance": "60.61",
    "debit": "75.60",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602916851,
    "address": "92 Blackheath Hill, Blackheath, London SE10 8AD",
    "bill_amount": "296.05",
    "bill_date": "5 Jan 2018",
    "direct_debit": "yes",
    "balance": "97.75",
    "debit": "92.69",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602447373,
    "address": "11 Moorend Park Rd, Cheltenham GL53 0GB",
    "bill_amount": "240.92",
    "bill_date": "26 Mar 2018",
    "direct_debit": "yes",
    "balance": "86.44",
    "debit": "84.65",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601293022,
    "address": "6 Ladylands Dr, Jedburgh TD8 6TD",
    "bill_amount": "272.01",
    "bill_date": "29 Mar 2018",
    "direct_debit": "no",
    "balance": "51.04",
    "debit": "63.64",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602842157,
    "address": "Village Rd, Christow, Exeter EX6",
    "bill_amount": "284.45",
    "bill_date": "31 Jan 2018",
    "direct_debit": "yes",
    "balance": "62.07",
    "debit": "95.65",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600193691,
    "address": "Station Rd, Rhosneigr LL64 5QW",
    "bill_amount": "101.87",
    "bill_date": "12 Apr 2018",
    "direct_debit": "no",
    "balance": "95.41",
    "debit": "65.39",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600139903,
    "address": "1 Coed Parc, Cwmafon, Port Talbot SA12 9BZ",
    "bill_amount": "360.38",
    "bill_date": "26 Jan 2018",
    "direct_debit": "yes",
    "balance": "81.00",
    "debit": "83.73",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600603656,
    "address": "7-8 Grays Inn Square, London WC1R 5JQ",
    "bill_amount": "314.74",
    "bill_date": "11 Mar 2018",
    "direct_debit": "yes",
    "balance": "69.37",
    "debit": "55.97",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 600768020,
    "address": "45 Mill Ln, Lymm WA13 9SG",
    "bill_amount": "137.14",
    "bill_date": "10 Apr 2018",
    "direct_debit": "no",
    "balance": "52.29",
    "debit": "98.08",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601143584,
    "address": "1 Ridgehill, Bristol BS9 4SB",
    "bill_amount": "166.93",
    "bill_date": "22 Mar 2018",
    "direct_debit": "yes",
    "balance": "68.88",
    "debit": "59.79",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600533033,
    "address": "2 Crown Mews, Hungerford RG17 0NR",
    "bill_amount": "202.68",
    "bill_date": "14 Feb 2018",
    "direct_debit": "no",
    "balance": "72.14",
    "debit": "60.78",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 602542460,
    "address": "249 Banbury Rd, Kidlington OX5 1BF",
    "bill_amount": "343.61",
    "bill_date": "15 Jan 2018",
    "direct_debit": "no",
    "balance": "83.65",
    "debit": "67.06",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 601182296,
    "address": "A851, Isle of Skye",
    "bill_amount": "167.02",
    "bill_date": "16 Apr 2018",
    "direct_debit": "no",
    "balance": "56.07",
    "debit": "55.60",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 600410942,
    "address": "Unnamed Road, Axminster EX13",
    "bill_amount": "234.75",
    "bill_date": "14 Feb 2018",
    "direct_debit": "yes",
    "balance": "63.69",
    "debit": "97.87",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602491878,
    "address": "18 Oakhurst Ln, West Moors, Ferndown BH22 0DT",
    "bill_amount": "265.57",
    "bill_date": "18 Apr 2018",
    "direct_debit": "no",
    "balance": "84.69",
    "debit": "75.94",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600920674,
    "address": "3 Nether Durdie Farm Cottages, Pitroddie, Perth PH2 7RH",
    "bill_amount": "61.44",
    "bill_date": "20 Apr 2018",
    "direct_debit": "no",
    "balance": "57.14",
    "debit": "61.44",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 602921399,
    "address": "16 Corndean Meadow, Telford TF3 5ET",
    "bill_amount": "309.67",
    "bill_date": "19 Feb 2018",
    "direct_debit": "no",
    "balance": "60.13",
    "debit": "83.81",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600702862,
    "address": "1 Ridgehill, Bristol BS9 4SB",
    "bill_amount": "245.79",
    "bill_date": "25 Feb 2018",
    "direct_debit": "yes",
    "balance": "90.64",
    "debit": "62.76",
    "credit": ""
  },
  {
    "type": "electricity",
    "account": 600193575,
    "address": "24A Newgate St, Walton on the Naze CO14 8DU",
    "bill_amount": "265.57",
    "bill_date": "20 Mar 2018",
    "direct_debit": "yes",
    "balance": "58.69",
    "debit": "81.90",
    "credit": ""
  },
  {
    "type": "gas",
    "account": 600795741,
    "address": "30-35 Richmond Terrace, Bristol BS8 1AD",
    "bill_amount": "137.23",
    "bill_date": "12 Apr 2018",
    "direct_debit": "yes",
    "balance": "61.89",
    "debit": "86.86",
    "credit": ""
  }
]
%}

{% block body_classes %}account v1{% endblock %}


{% block user_message %}
  <div class="user-message"><a href="#"><strong>Charlie Bobbins</strong><br>Super User</a></div>
  <div class="clear"></div>
{% endblock %}

{% block secnav %}
<div class="account-nav-secondary">
  <ul>
    <li class="manage-users"><a href="#">Manage users</a></li>
    <hr>
    <li class="settings">
      <a href="#">My settings</a>
    </li>
  </ul>
</div><!-- /account-nav-secondary -->
{% endblock %}

{% block content %}
<div class="account-content">

  <div class="grid-row mid-up">
    <br>
    <div class="column-full">

      <h2 class="card-heading">Search accounts</h2>

      <div class="card-top">
        <h2 class="card-heading normal">You have <strong>43 energy accounts</strong></h2>
      </div>

      <div class="card np curved-bottom">

        <form class="site m-t-m" style="padding-left: 20px;" onsubmit="return false;">

          <div class="form-group">
            <label class="form-label" for="search" style="font-size: 16px;">Search energy accounts</label>
            <input type="text" class="form-control" id="search" value="{{getData.email}}" placeholder="Account number or address" style="float: left;width: 300px;margin-right: 15px;">
            <a id="searchbutton" href="#" class="button disabled" style="margin-top: 2px;">Search</a>
          </div>

        </form>

      </div>

      <div id="results_container">


        <div id="searching" style="display: none;">

          <h2 class="card-heading">Search results</h2>

          <div class="card-top">
            <h2 class="card-heading normal">Searching...</h2>
          </div>

          <div class="card np curved-bottom">
            <br>
            <p style="text-align: center;"><img src="/public/v1/images/loaders/loading-blue-circles.gif" alt="" style="width: 64px; height: 64px; display: block; margin: 0 auto;"></p>
            <br>
          </div>

        </div>


        <div id="results" style="display: none;">

          <h2 class="card-heading">Search results</h2>

          <div class="card-top">
            <h2 class="card-heading normal">We found <strong><span id="searchcount"></span> accounts</strong> matching <strong>'<span id="searchterm"></span>'</strong></h2>
          </div>

          <div class="card np curved-bottom">

            <table style="width: 100%">
              <thead>
                <tr>
                  <th class="visually-hidden"><span>1</span></th>
                  <th class="first-col" style="width: 15%"><span>Account&nbsp;number</span></th>
                  <th><span>Site address</span></th>
                  <th class="right" style="width: 24%"><span>Balance</span></th>
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
              
                <tr data-account="{{ item.account }}" data-address="{{ item.address | lower }}" class="clickable-row" style="">
                  <td class="visually-hidden"></td>
                  {% if item.type == 'gas' %}
                    <td class="account gas first-col">
                  {% elseif item.type == 'electricity' %}
                    <td class="account electricity first-col">
                  {% endif %}
                    <a href="#" class="table-heading">{{ item.account }}</a>
                  </td>
                  <td style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                    {% if item.address == 'collective' %}
                    7 site addresses
                    {% else %}
                    {{ item.address }}
                    {% endif %}
                  </td>
                  <td class="right">
                    {% if item.credit %}
                      <span class="credit">&pound;{{ item.credit }}<span class="xsmall">&ensp;Credit</span></span>
                    {% else %}
                      &pound;{{ item.debit }}<span class="xsmall light"> &nbsp; Debit</span>
                    {% endif %}
                  </td>
                </tr>
                
              {% endfor %}
                <tr id="noresults">
                  <td colspan="4" style="padding: 20px;">
                    <h3 style="font-size: 18px; color: #D12D4A;">Sorry, we couldn’t find any matching accounts</h3>
                    <p>Please revise your search.</p>
                  </td>
                </tr>
                <tr id="searcherror">
                  <td colspan="4" style="background-image: url(/public/v1/images/icons/warning-red.svg); background-position: 20px 20px; background-repeat: no-repeat; padding: 20px 20px 20px 80px;">
                    <h3 style="font-size: 18px; color: #D12D4A;">Sorry, we couldn’t find any matching accounts</h3>
                    <p>Please revise your search.</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div><!-- /card -->

        </div> <!-- /results -->

      </div> <!-- //results_container --> 



        
    </div>



  </div><!-- /column-full -->

</div><!-- /grid-row -->


<!--p class="content-block" style="clear:both; position: relative; top: -5px;">Can’t see the account you’re looking for? <strong style="display:inline-block"><a href="add-account">Add missing energy accounts</a></strong></p>

  <h2 class="card-heading">Closed accounts</h2>
  <div class="card curved-bottom">
    <div class="card-listing">
      <ul>
        <li>
          <a href="closed-accounts">
            7 closed accounts
          </a>
        </li>
      </ul>
    </div>
  </div--><!-- /card -->

</div><!-- /account-content -->




{% endblock %}