<p>The appellant submitted the following information on {{ (appeal.startedDaysAgo + 7) | daysAgo }}.</p>


<table class="govuk-table">
      <caption class="govuk-table__caption">Appeal details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Planning application number</th>
          <td class="govuk-table__cell">{{ appeal.planningNumber }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Site address</th>
          <td class="govuk-table__cell">
            {{ appeal.address.street }} <br>
            {{ appeal.address.city }} <br>
            {{ appeal.address.postcode }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Appellant Name</th>
          <td class="govuk-table__cell">{{ appeal.name.first }} {{ appeal.name.last }}</td>
        </tr>
      </tbody>
    </table>  


    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              The local planning department
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list govuk-list--bullet">
            <li><strong>Maidstone Borough Council</strong> is the local planning department</li>
            <li>The appellant provided the <a href="/public/images/Decision_Notice-sprint18.pdf">decision letter</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              The original planning application
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list govuk-list--bullet">
            <li>The planning application number is <strong>{{ appeal.planningNumber }}</strong></li>
            <li>The name on the application is <strong>{{ appeal.name.first }} {{ appeal.name.last }}</strong></li>
            <li>The date of application is <strong>12 December 2019</strong></li>
            <li>The appellant provided their <a href="/public/images/application.pdf">original planning application</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              The appeal site
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list govuk-list--bullet">
            <li>The Inspector cannot see the whole of the appeal site from public land:
              <div class="govuk-inset-text pins-inset-text--small">
                "It's restricted as the extension is at the rear, so they'd need to come through the house to view. We have no rear access and are in woodland. I guess they could climb a tree?"
              </div>

            </li>
            <li>There are health and safety issues:
              <div class="govuk-inset-text pins-inset-text--small">"We have dogs"</div>
            </li>
            <li>The appellant owns the whole appeal site</li>
          </ul>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              The appeal statement and supporting documents
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list govuk-list--bullet">
            <li>The appellant provided an <a href="/public/images/appeal-statement.pdf">appeal statement</a></li>
            <li>The appellant provided 11 supporting documents:
              <ul class="govuk-list">
                <li><a href="/public/images/blank.pdf" download>file-1.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-2.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-3.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-4.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-5.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-6.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-7.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-8.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-9.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-10.pdf</a></li>
                <li><a href="/public/images/blank.pdf" download>file-11.pdf</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    