<h3 class="govuk-heading-m">Appeal details</h3>


<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Planning application number</h4>
<p class="govuk-!-margin-bottom-2">{{ appeal.planningNumber }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Site address</h4>
<p class="govuk-!-margin-bottom-2">
    {{ appeal.address.street }} <br>
    {{ appeal.address.city }} <br>
    {{ appeal.address.postcode }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Appellant Name</h4>
<p class="govuk-!-margin-bottom-2">{{ appeal.name.first }} {{ appeal.name.last }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


