{% extends "layout-lpa.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">Submit your evidence</span>
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
      <p>Before you submit your evidence, take a moment to make sure you're happy with the answers you've provided.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">About the appeal</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the information from the appellant accurately reflect the original planning application?
            </dt>
            <dd class="govuk-summary-list__value">
               {% if data['is-accurate'] === 'no' %}
                {{ data['is-accurate-more-detail'] }}
               {% else %}
                {{data['is-accurate']}}
               {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="appellant-submission">
                Change<span class="govuk-visually-hidden"> feedback on appeal</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have any extra conditions?
            </dt>
            <dd class="govuk-summary-list__value">
               {% if data['extra-conditions'] === 'yes' %}
                {{ data['extra-conditions-more-detail'] }}
               {% else %}
                {{data['extra-conditions']}}
               {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="conditions">
                Change<span class="govuk-visually-hidden"> suggested conditions</span>
              </a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are there any other appeals adjacent or close to the site still being considered?
            </dt>
            <dd class="govuk-summary-list__value">
               {% if data['other-appeals'] === 'yes' %}
                {{ data['other-appeals-more-detail'] }}
               {% else %}
                {{data['other-appeals']}}
               {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="other-appeals">
                Change<span class="govuk-visually-hidden"> other appeals</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notifying interested parties about the appeal
            </dt>
            <dd class="govuk-summary-list__value">
               {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("interested-parties")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="representations">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can the Inspector see the relevant parts of the appeal site from public land?
            </dt>
            <dd class="govuk-summary-list__value">{{data['public-land']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="public-land">
                Change<span class="govuk-visually-hidden"> if the Inspector see the relevant parts of the appeal site from public land</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Would the Inspector need to enter the appeal the site?
            </dt>
            <dd class="govuk-summary-list__value">{{data['enter-appeal-site']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enter-appeal-site">
                Change<span class="govuk-visually-hidden"> if the inspector would need to enter the appeal site </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Would the Inspector need access to a neighbour’s land?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['neighbours-land'] === 'yes' %}
                {{ data['neighbours-land-more-detail'] }}
               {% else %}
                {{data['neighbours-land']}}
               {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="neighbours-land">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Would the development affect the setting of a listed building?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['listed-building'] === 'yes' %}
                {{ data['listed-building-more-detail'] }}
               {% else %}
                {{data['listed-building']}}
               {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="section-2-list">
                Change<span class="govuk-visually-hidden"> if the development affect the setting of a listed building</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the appeal site in a green belt?
            </dt>
            <dd class="govuk-summary-list__value">{{data['green-belt']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="section-2-list">
                Change<span class="govuk-visually-hidden"> if the appeal site in a green belt</span>
              </a>
            </dd>
          </div>



        </dl>

        <h2 class="govuk-heading-m">About the planning application</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Plans used to make decision
            </dt>
            <dd class="govuk-summary-list__value">
              {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("casefile")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="case-file">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning Officer's report
            </dt>
            <dd class="govuk-summary-list__value">
               {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("officers-report")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="officers-report">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the original application require a site notice and/or a local advertisement?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("site-notice")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="site-notice">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telling interested parties of the application
            </dt>
            <dd class="govuk-summary-list__value">
               {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("site-notice")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="site-notice-ip">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Representations from interested parties
            </dt>
            <dd class="govuk-summary-list__value">
               {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("correspondence")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="correspondence">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning history
            </dt>
            <dd class="govuk-summary-list__value">
               {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("planning-history")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="planning-history">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Policies related to the planning application</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Statutory development plan policy
            </dt>
            <dd class="govuk-summary-list__value">
               {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("statutory")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="statutory">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supplementary planning documents
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{data.supplementaryDocsList.length}} documents</p>
              <ul class="govuk-list govuk-list--bullet">
                {% for document in data.supplementaryDocsList %}
                <li>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-0">{{document.name}}</h4>
                    <p>{% if document.adopted == "yes" %}
                      Adopted on {{document['adopted-date-day']}} {{document['adopted-date-month'] | formatMonth }} {{document['adopted-date-year']}}
                    {% else %}
                      {{ document.stage }}
                    {% endif %}</p>

                    {{ multiFileDisplay({
                      uploadedFiles: data.uploadedFiles | filesByFieldName("supplementary-planning")
                    }) }}



                  </li>
                {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="supplementary">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the appeal site in or near a conservation area?
            </dt>
            <dd class="govuk-summary-list__value">{{data['conservation-area']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="section-2-list">
                Change<span class="govuk-visually-hidden"> if the appeal site in or near a Conservation Area</span>
              </a>
            </dd>
          </div>

          {% if data['conservation-area'] == "yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Conservation area map and guidance
            </dt>
            <dd class="govuk-summary-list__value">
              {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("conservation-area-map")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="section-2-list">
                Change<span class="govuk-visually-hidden"> the Conservation Area map and guidance</span>
              </a>
            </dd>
          </div>

            <dt class="govuk-summary-list__key">
              Did you publicise that the site is within a conservation area or affects a listed building?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['publicise-conservation-area'] %}
                {{ multiFileDisplay({
                  uploadedFiles: data.uploadedFiles | filesByFieldName("conservation-area-map")
                }) }}
              {% else %}
                {{data['publicise-conservation-area']}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="section-2-list">
                Change<span class="govuk-visually-hidden"> the Conservation Area map and guidance</span>
              </a>
            </dd>
          </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other relevant policies
            </dt>
            <dd class="govuk-summary-list__value">
              {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("planning-history")
              }) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="policy">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By submitting this questionnaire, you confirm that, to the best of your knowledge, the details are correct.
  </strong>
</div>
     <form action="lpa-confirmation" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
            Submit
        </button>
      </form>
    </div>
  </div>

{% endblock %}
