{% extends "layout.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    <form action="listed-building" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About the appeal site</span>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "enter-appeal-site",
        name: "enter-appeal-site",
        fieldset: {
          legend: {
            text: "Would the inspector need to enter the appeal site?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("enter-appeal-site", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("enter-appeal-site", "no")
          }
        ]
      }) }}


      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third"> 
    {% include "lpa-submission/_key-details.html" %} 
  </div>
  
</div>
{% endblock %}
