{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}


{% block pageTitle %}
  LPA
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="neighbours-land" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About the appeal site</span>

      {% set detailsHtml %}
        {{ govukTextarea({
          name: "enter-appeal-site-more-detail",
          id: "enter-appeal-site-more-detail",
          label: {
            text: "Tell us why the Inspector would need to enter the appeal site."
          }
        }) }}
      {% endset -%}
      {{ govukRadios({
        idPrefix: "enter-appeal-site",
        name: "enter-appeal-site",
        fieldset: {
          legend: {
            text: "Would the Inspector need to enter the appeal site?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("enter-appeal-site", "yes"),
            conditional: {
              html: detailsHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("enter-appeal-site", "no")
          }
        ]
      }) }}


      <input type="hidden" name="enter-appeal-site-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="enter-appeal-site-completed-text" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third">
    {% include "lpa-submission/_key-details.html" %}
  </div>

</div>
{% endblock %}
