{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}


{% block pageTitle %}
  LPA
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="green-belt" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About the appeal site</span>


      {% set detailsHtml %}
          {{ govukTextarea({
            name: "listed-building-more-detail",
            id: "listed-building-more-detail",
            label: {
              text: "Add the relevant listing description from the List of Buildings of Special Architectural or Historic Interest."
            }
          }) }}
        {% endset -%}

      {{ govukRadios({
        idPrefix: "listed-building",
        name: "listed-building",
        fieldset: {
          legend: {
            text: "Would the development affect the setting of a listed building?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("listed-building", "yes"),
            conditional: {
              html: detailsHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("listed-building", "no")

          }
        ]
      }) }}


      <input type="hidden" name="listed-building-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="listed-building-completed-text" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third">
    {% include "lpa-submission/_key-details.html" %}
  </div>

</div>
{% endblock %}
