{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}


{% block pageTitle %}
  LPA
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="listed-building" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About the appeal site</span>


        {% set detailsHtml %}
          {{ govukTextarea({
            name: "neighbours-land-more-detail",
            id: "neighbours-land-more-detail",
            label: {
              text: "Tell us the full address and why you think a visit is required."
            }
          }) }}
        {% endset -%}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "neighbours-land",
        name: "neighbours-land",
        fieldset: {
          legend: {
            text: "Would the Inspector need access to a neighbour's land?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("neighbours-land", "yes"),
            conditional: {
              html: detailsHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("neighbours-land", "no")
          }
        ]
      }) }}


      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third">
    {% include "lpa-submission/_key-details.html" %}
  </div>

</div>
{% endblock %}
