{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}


{% block pageTitle %}
  LPA
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="statutory-extra-details" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Policies related to the planning application</span>


          <h1 class="govuk-heading-l">
            Statutory development plan policy
          </h1>

          <p>Include any Neighbourhood Plan relevant to this appeal.</p>
          {% set uploadHtml %}
            {{ govukFileUpload({
              id: "statutory",
              name: "statutory",
              classes: 'moj-multi-file-upload__input',
              label: {
                text: "Upload files",
                classes: 'govuk-label--m'
              },
              attributes: { multiple: '' },
              errorMessage: errorMessage
            }) }}

            {{govukButton({
              text: 'Upload file',
              classes: 'govuk-button--secondary moj-multi-file-upload__button'
            })}}
          {% endset %}

          {{ mojMultiFileUpload({
            uploadedFiles: {
            heading: { text: 'Files added' },
              items: data.uploadedFiles | filesByFieldName("statutory")
            },
            uploadHtml: uploadHtml
          }) }}

      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third">
    {% include "lpa-submission/_key-details.html" %}
  </div>

</div>
{% endblock %}

{% block pageScripts %}
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {

  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-statutory',
    deleteUrl: '/ajax-statutory-delete',
    fieldName: 'statutory'
    });
  }
</script>
{% endblock %}
