{% set items = [
          {
            name: "Bradford City Centre Design Guide",
            adopted: true,
            date: "21 March 2006"
          },
          {
            name: "City Centre Affordable Housing",
            adopted: true,
            date: "1 January 2012"
          },
          {
            name: "Homes and Neighbourhoods - A guide to designing in Bradford",
            adopted: true,
            date: "1 January 2012"
          },
          {
            name: "Householder",
            adopted: true,
            date: "1 January 2012"
          },
          {
            name: "Affordable Housing",
            adopted: false,
            stage: "In preparation"
          },{
            name: "Open Space and Built Recreational Facilities",
            adopted: false,
            stage: "In preparation"
          },{
            name: "South Pennine Moors",
            adopted: false,
            stage: "In preparation"
          },{
            name: "Tree Protection",
            adopted: false,
            stage: "In preparation"
          }
          ] %}

{% extends "layout.html" %}

{% set headerTitle = "Appellant stuff" %}


{% block pageTitle %}
  LPA
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="supplementary-post" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Policies related to the planning application</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="supp-docs-used-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What Supplementary Planning Documents were used?
            </h1>
          </legend>
          <div id="supp-docs-used-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes">
            <h3 class="govuk-heading-s">Adopted documents</h3>

            {% for item in items | selectattr("adopted") %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="supp-docs-used" name="supp-docs-used" type="checkbox" value="{{item.name}}" {{checked('supp-docs-used', item.name)}} >
                <label class="govuk-label govuk-checkboxes__label" for="supp-docs-used">
                  {{item.name}}
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  Adopted {{ item.date }}
                </div>
              </div>
            {% endfor %}
          </div>

        </fieldset>
      </div>


        <p><a href="/lpa-account/manage-documents/supplementary-planning-documents" title="">Add or change Supplementary Planning Documents</a></p>

      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third">
    {% include "lpa-submission/_key-details.html" %}
  </div>

</div>
{% endblock %}
{% block pageScripts %}

{% endblock %}
