  {% extends "layout.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    <form action="supplementary-adopted-post" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Optional supporting documents</span>

{% set dateHtml %}
{{ govukDateInput({
  id: "supplementary-adopted-date",
  namePrefix: "supplementary-adopted-date",
  fieldset: {
    legend: {
      text: "Tell us the date of adoption."
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  }
}) }}
{% endset -%}

{% set stageHtml %}
{{ govukInput({
        label: {
          text: "Tell is what stage this has reached"
        },
        id: "supplementary-stage",
        name: "supplementary-stage"
      }) }}

{% endset -%}


          
{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "supplementary-adopted",
  name: "supplementary-adopted",
  fieldset: {
    legend: {
      text: "Was it formally adopted?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },  
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: dateHtml
      }
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: stageHtml
      }
    }
  ]
}) }}

      
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third"> 
    
  </div>
  
</div>
{% endblock %}
{% block pageScripts %}

{% endblock %}
