<h3 class="govuk-heading-m">Appeal details</h3>

<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Planning application number</h4>
<p class="govuk-!-margin-bottom-2">20/500818/FULL</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Site address</h4>
<p class="govuk-!-margin-bottom-2">
  22 Argyll Street<br>
  Maidstone
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Appellant Name</h4>
<p class="govuk-!-margin-bottom-2">Manish Sharma</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


