{% extends "layout-notify.html" %}

{% block pageTitle %}
  Email - Confirm your email address
{% endblock %}

{% block content %}

  <p><strong>Subject:</strong> 9617 The Avenue, XM26 7YS - link to householder planning appeal questionnaire</p>
  <p><strong>From:</strong> The Planning Inspectorate</p>

  <img src="{{ asset_path }}images/pi-logo.png" width="150"/>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">

      <p>Dear [name of LPA]</p>

      <p>Click this link to access the appeal questionnaire for application 20/500818/FULL: [<a href="/lpa-questionnaire/v9/task-list">valid link</a> <a href="/lpa-questionnaire/v9/security/expired">expired link</a>]</p>

      <p>The link will expire after [amount of time].</p>
      
      <p>Thank you,</p>
      <p>The Planning Inspectorate​</p>
    </div>
  </div>

{% endblock %}
