{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Inspector Screens - My Appeals - Site Visits
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<style>

.govuk-header__container {
    border-bottom: 10px solid #009999;
}
.moj-sub-navigation__link[aria-current="page"]:before {
    background-color: #009999;
}


</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="my-index" class="govuk-back-link">All my appeals</a></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p align="right"> <b>Inspector: </b>Marie Lightman</p>
  </div>
</div>
<div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        131 High Street, Bradford, BD6 1JK
        <span class="govuk-caption-xl">Appeal Reference: APP/2020/56789/01234</span>
      </h1>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">
<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-overview">Overview</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" aria-current="page" href="appeal1-visit-arranged">Site visit</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-decision">Decision</a>
</li>
</ul>

</nav>

     <h2 class="govuk-heading-l">Site visit</h2>
     <p>You have arranged a site visit</p>

     <dl class="govuk-summary-list govuk-summary-list--no-border">
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Type of visit
         </dt>
         <dd class="govuk-summary-list__value">
        {{ data['site-visit-type'] }}
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Date
         </dt>
         <dd class="govuk-summary-list__value">
{{ data['passport-issued-day'] }}
{{ data['passport-issued-month'] | formatMonth }}
{{ data['passport-issued-year'] }} :
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
          Time
         </dt>
         <dd class="govuk-summary-list__value">
            {{ data['site-visit-time'] }}
         </dd>
       </div>
    <!--    <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Site visit letter / email
         </dt>
         <dd class="govuk-summary-list__value">
           <a href="#">View letter sent to appellant</a>
         </dd>
       </div>
-->
     </dl>

     {% from "govuk/components/button/macro.njk" import govukButton %}

     {{ govukButton({
       text: "Re-arrange site visit",
       href: "visit-summary.html"
     }) }}


<br><br><br>
           <table class="govuk-table">
             <caption class="govuk-table__caption govuk-table__caption--m">Can site be seen from public land?</caption>
             <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                 <th scope="col" class="govuk-table__header"> </th>
                 <th scope="col" class="govuk-table__header"> </th>
               </tr>
             </thead>
             <tbody class="govuk-table__body">

               <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header">Response from appellant</th>
                 <td class="govuk-table__cell">No</td>
               </tr>
               <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header">Response from LPA</th>
                 <td class="govuk-table__cell">	Yes, the site can be viewed from the road at rear of property</td>
               </tr>
             </tbody>
           </table>
     <br>

     <!--  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
     <div class="govuk-accordion__section">
     <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Site details
        </span>
      </h2>
     </div>
     <!-- <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1"> -->

     <table class="govuk-table">
       <caption class="govuk-table__caption govuk-table__caption--m">Site details</caption>
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header"> </th>
           <th scope="col" class="govuk-table__header"> </th>
         </tr>
       </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Health and safety information</th>
           <td class="govuk-table__cell">Yes, there are dogs</td>
         </tr>
         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Does the Inspector need to enter site?</th>
           <td class="govuk-table__cell">No</td>
         </tr>
         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Does the Inspector need to access a neighbours land?</th>
           <td class="govuk-table__cell">Yes. Appellant has agreed to notify neighbours at 133 High Street</td>
         </tr>
         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Does the appellant own the whole appeal site?</th>
           <td class="govuk-table__cell">Yes</td>
         </tr>
         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Are there any relevant appeals nearby?</th>
           <td class="govuk-table__cell">Yes</td>
         </tr>
       </tbody>
     </table>


     <!--    </div> -->
     </div>


     {% endblock %}
