{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Inspector Screens - My Appeals - Site Visits
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<style>

.govuk-header__container {
    border-bottom: 10px solid #009999;
}
.moj-sub-navigation__link[aria-current="page"]:before {
    background-color: #009999;
}


</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="my-index" class="govuk-back-link">All my appeals</a></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p align="right"> <b>Inspector: </b>Marie Lightman</p>
  </div>
</div>
<div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
      131 High Street, Bradford, BD6 1JK
        <span class="govuk-caption-xl">Appeal Reference: APP/2020/56789/01234</span>
      </h1>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">
<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-overview">Overview</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" aria-current="page" href="appeal1-visit">Site visit</a>
</li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="appeal1-decision">Decision</a>
</li>
</ul>

</nav>

     <h2 class="govuk-heading-l">Site visit</h2>

     <strong class="govuk-tag govuk-tag--green">{{data['site-visit-type'] | default("Provisional W/C") }} {{ data['passport-issued-day'] }}
     {{ data['passport-issued-month'] | formatMonth }}
     {{ data['passport-issued-year'] }}  {{ data['site-visit-time'] }}</strong>

     <p><br>You have booked a provisional site visit for the week commencing  {{ data['passport-issued-day'] }}
     {{ data['passport-issued-month'] | formatMonth }}
     {{ data['passport-issued-year'] }} <br> You have <b>not scheduled</b> the site visit and the appellant has not been notified of the provisional date.</p>

     {% from "govuk/components/button/macro.njk" import govukButton %}

     {{ govukButton({
       text: "Schedule the site visit",
       href: "visit-type.html"
     }) }}


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Site details
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Health and safety information
          </dt>
          <dd class="govuk-summary-list__value">
             Yes, there are dogs
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Can site be seen from public land?
          </dt>
          <dd class="govuk-summary-list__value"> </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <li>information from appellant</li>
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <li>information from LPA</li>
          </dt>
          <dd class="govuk-summary-list__value">
           Yes, the site can be viewed from the road at rear of property
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the Inspector need to enter site?
          </dt>
          <dd class="govuk-summary-list__value">
             No
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Does the Inspector need to access a neighbours land?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes. Appellant has agreed to notify neighbours at 133 High Street
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the appellant own the whole appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any relevant appeals nearby?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
      </dl>

    </div>
  </div>


{% endblock %}
