{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Inspector Screens - My Appeals
{% endblock %}

{% block content %}
<style>

.govuk-header__container {
    border-bottom: 10px solid #009999;
}

</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

        {{ govukBackLink({
          text: "Back",
          href: "appeal1-visit.html"
        }) }}</p>
  </div>
  <div class="govuk-grid-column-one-half">
  <p align="right"> <b>Inspector: </b>Marie Lightman</p>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

<form action="visit-type-arsv-check" method="post" novalidate>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        What type of site visit are you arranging?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="site-visit-type" name="site-visit-type" type="radio" value="(ARSV)">
          <label class="govuk-label govuk-radios__label" for="site-visit-type">
            Access required site visit (ARSV)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="site-visit-type-2" name="site-visit-type" type="radio" value="(USV)">
          <label class="govuk-label govuk-radios__label" for="site-visit-type-2">
            Uncaccompanied site visit (USV)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="site-visit-type-3" name="site-visit-type" type="radio" value="(ASV)">
          <label class="govuk-label govuk-radios__label" for="site-visit-type-3">
            Accompanied site visit (ASV)
          </label>
        </div>

      </div>

    </fieldset>
  </div>

<input type="hidden" name="answers-checked" value="true">

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>


    </div>
  </div>
{% endblock %}
