{% extends "layout-govuk.html" %}

{% block pageTitle %}
  Before you appeal | Appeal a planning decision
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" href="#" aria-current="page">Planning permission and building regulations</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Appeal a householder planning decision
      </h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <p class="govuk-body-s">
        Contents
      <p>
      <ul class="govuk-list">
        <li class="govuk-body-s">
          &mdash;&nbsp; Before you appeal
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="when-you-can-appeal" class="govuk-link">When you can appeal</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="stages-of-an-appeal" class="govuk-link">The stages of an appeal</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="your-appeal-statement" class="govuk-link">Your appeal statement</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="after-you-appeal" class="govuk-link">After you appeal</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="start-your-appeal" class="govuk-link">Start your appeal</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-l">
        Before you appeal 
      </h2>

      <p class="govuk-body">
        If your householder planning application has been refused by the local planning department, you can:​ 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          submit an amended application to the local planning department 
        </li>
        <li>
          appeal the decision with the Planning Inspectorate​ 
        </li>
      </ul>
      
      <h3 class="govuk-heading-m">
        Amending the planning application 
      </h3>
      <p class="govuk-body">
        The decision letter from the local planning department will list the reasons for refusal. If you think you can change your plans to respond to them, speak to the planning department about resubmitting your application.
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-local-council" class="govuk-link">Your local planning department</a> (also called ‘LPA’) is usually your local council. The contact details will be on the decision letter.
      </p>

      <h3 class="govuk-heading-m">
        Appealing the decision
      </h3>
      <p class="govuk-body">
        Around 1 in 3 appeals is successful. You should only appeal if you think all the reasons for refusing your application are incorrect. 
      </p>
      <p class="govuk-body">
        The Planning Inspectorate is an independent, impartial body that decides appeals on planning applications.
      </p>
      <p class="govuk-body">
        When you appeal, the Planning Inspectorate will look at the planning considerations from you (set out in your appeal statement) and the local planning department in order to make a decision. 
      </p>
      <p class="govuk-body">
        There’s no fee for appealing. ​ 
      </p>

      <h3 class="govuk-heading-m">
        Commenting on an appeal 
      </h3>
      <p class="govuk-body">
        Unlike a full planning appeal, no one can comment on a householder planning appeal. 
      </p>
      <p class="govuk-body">
        If anyone commented on the original planning application ('interested party representations'), the local planning department will tell them that there is an appeal, but they won't be able to comment on it.​
      </p>

      <h3 class="govuk-heading-m">
        Applying for costs if any party behaves unreasonably 
      </h3>
      <p class="govuk-body">
        You can <a href="https://www.gov.uk/claim-planning-appeal-costs" class="govuk-link">apply for an ‘award of costs’</a> at the same time you appeal, if any party involved in your appeal has cost you money by behaving unreasonably, for example by missing deadlines. You can have costs awarded against you as well.
      </p>

      
      <!-- Navigation-->
      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="track-click">

          <li class="gem-c-pagination__item gem-c-pagination__item--next">
            <a href="when-you-can-appeal.html" class="gem-c-pagination__link" rel="next">
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="gem-c-pagination__link-divider visually-hidden">:</span>
              <span class="gem-c-pagination__link-label">When you can appeal</span>
            </a>
          </li>

        </ul>
      </nav>

      <!-- Print -->
      <div class="app-c-print-link">
        <a href="/appeal-planning-decision/print" class="app-c-print-link__link govuk-link" rel="alternate">
          Print entire guide
        </a>
      </div>
        
      <!-- Explore the topic -->
      <div class="gem-c-contextual-footer">
        <div class="gem-c-related-navigation">
          <nav role="navigation" class="gem-c-related-navigation__nav-section">
            <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
            <ul class="gem-c-related-navigation__link-list" data-module="track-click">
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Local councils and services</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Planning permission and building regulations</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Planning permission and appeals</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
