{% extends "layout-govuk.html" %}

{% block pageTitle %}
  When you can appeal | Appeal a planning decision
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" href="#" aria-current="page">Planning permission and building regulations</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Appeal a householder planning decision
      </h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <p class="govuk-body-s">
        Contents
      <p>
      <ul class="govuk-list">
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="before-you-appeal" class="govuk-link">Before you appeal</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; When you can appeal
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="stages-of-an-appeal" class="govuk-link">Stages of an appeal</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="your-appeal-statement" class="govuk-link">Your appeal statement</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="after-you-appeal" class="govuk-link">After you appeal</a>
        </li>
        <li class="govuk-body-s">
          &mdash;&nbsp; <a href="start-your-appeal" class="govuk-link">Start your appeal</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-l">
        When you can appeal 
      </h2>

      <p class="govuk-body">
        You can appeal a householder planning decision from your local planning department if you think all their reasons for refusing your planning application are incorrect.
      </p>
      <p class="govuk-body">
        The appeal must be in the same name as the planning application. If you applied on behalf of a business or organisation, the appeal should be in the name of that organisation.​
      </p>
      <p class="govuk-body">
        There is a different process to appeal: 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://www.gov.uk/appeal-planning-decision" class="govuk-link">a full planning decision</a>
        </li>
        <li>
          a <a href="https://www.gov.uk/appeal-listed-building-consent-decision" class="govuk-link">listed building appeal</a>
        </li>
        <li>
          <a href="https://www.gov.uk/appeal-high-hedges-decision" class="govuk-link">a high hedges decision</a>
        </li>
        <li>
          a <a href="https://www.gov.uk/appeal-decision-about-tree-order/how-to-appeal" class="govuk-link">tree preservation consent order decision</a>
        </li>
        <li>
          an <a href="https://www.gov.uk/appeal-enforcement-notice" class="govuk-link">enforcement notice</a>
        </li>
      </ul>
      
      <h3 class="govuk-heading-m">
        Deadline for appealing​ 
      </h3>
      <p class="govuk-body">
        You must appeal within 12 weeks of the decision date on the letter from your local planning department. If you cannot use the online service, you must leave enough time for us before the deadline to help you complete the process.
      </p>
      <p class="govuk-body">
        The deadline is earlier if you’ve received an enforcement notice for the same, or very similar, development. In which case you must appeal within 28 days of the notice through the main appeals service.
      </p>
      <br>
      
      <!-- Navigation-->
        <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
          <ul class="gem-c-pagination__list" data-module="track-click">
             <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="before-you-appeal.html" class="gem-c-pagination__link" rel="prev">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Before you appeal</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="stages-of-an-appeal.html" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">The stages of an appeal</span>
              </a>
            </li>
          </ul>
        </nav>

      <!-- Print -->
      <div class="app-c-print-link">
        <a href="/appeal-planning-decision/print" class="app-c-print-link__link govuk-link" rel="alternate">
          Print entire guide
        </a>
      </div>
        
      <!-- Explore the topic -->
      <div class="gem-c-contextual-footer">
        <div class="gem-c-related-navigation">
          <nav role="navigation" class="gem-c-related-navigation__nav-section">
            <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
            <ul class="gem-c-related-navigation__link-list" data-module="track-click">
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Local councils and services</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Planning permission and building regulations</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Planning permission and appeals</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
