  {% extends "layout.html" %}

{% set headerTitle = "Appellant stuff" %}


{% block pageTitle %}
  LPA
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="upload" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Supplementary planning documents</span>


      {{ govukInput({
        label: {
          text: "What is the name of the Supplementary Planning document?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "new-sdp-name",
        name: "new-sdp-name",
        value: "Householder"
      }) }}



      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>

   <div class="govuk-grid-column-one-third">

  </div>

</div>
{% endblock %}
{% block pageScripts %}

{% endblock %}
