{% extends "layouts/inspector/v4.html" %}

{% block pageTitle %}
  My planning appeals
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        My appeals
      </h1>

    </div>
    <div class="govuk-grid-column-one-quarter pins-align-right">

      {{ govukButton({
        href: "get-appeals/",
        text: "Get more appeals"
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Appeal site</th>
            <th scope="col" class="govuk-table__header">Target date</th>
            <th scope="col" class="govuk-table__header">Appeal type</th>
            <th scope="col" class="govuk-table__header">Local planning department</th>
            <th scope="col" class="govuk-table__header">Site visit</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <!-- hide this appeal if decision has been issued in session -->
          {% if not data["inspector-"+version+"-issuedecision-outcome"] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/inspector/{{version}}/appeal-decision" class="govuk-link">8 The Chase, Findon, BN14 0TT</a>
            </td>
            <td class="govuk-table__cell" nowrap>{{ 12 | daysInFutureShortMonth }}</td>
            <td class="govuk-table__cell">HAS</td>
            <td class="govuk-table__cell">Bradford</td>
            <td class="govuk-table__cell">
              {{ 2 | daysAgoShortMonth }}
            </td>
          </tr>
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/inspector/{{version}}/appeal-scheduled" class="govuk-link">131 High Street, Bradford, BD6 1JK</a>
            </td>
            <td class="govuk-table__cell" nowrap>{{ 12 | daysInFutureShortMonth }}</td>
            <td class="govuk-table__cell">HAS</td>
            <td class="govuk-table__cell">Bradford</td>
            <td class="govuk-table__cell">
              {{ 7 | daysInFutureShortMonth }}
            </td>
          </tr>

          <!-- loop through appeals selected in pull appeal journey -->
          {% for pulledappeal in data['inspector-'+version+'-pullappealref'] %}
            <!-- loop through the example appeal data in /data/availableAppeals -->
            {% for item in data['availableAppeals'] %}
              <!-- if the ref in the example data matches one of the selected appeals, show the row -->
              {% if item.ref == pulledappeal %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="/inspector/{{version}}/appeal-unscheduled" class="govuk-link">{{item.address}}, {{item.postcode}}</a>
                  </td>
                  <td class="govuk-table__cell" nowrap>{{ item.targetDateDaysInFuture | daysInFutureShortMonth }}</td>
                  <td class="govuk-table__cell">{{item.appealType}}</td>
                  <td class="govuk-table__cell">{{item.lpa}}</td>
                  <td class="govuk-table__cell">
                    Week of {{ data["inspector-"+version+"-provisionalweek"]}}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
