\{% extends "layout.html" %}

{% block pageTitle %}
  This service is not available if you do not chose the fast track procedure - Eligibility - Appeal a planning decision - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This service is not available if you do not chose the fast track procedure</h1>
        <p class="govuk-body">

          <p>This is a new service and is currently only available for people who wish to use the fast track procedure.</p>
          <p>You can still appeal using our <a class="govuk-link" href="https://www.gov.uk/appeal-decision-about-tree-order/how-to-appeal">appeal a decision about a tree preservation order service</a>.​
        </p>
      </div>
    </div>

{% endblock %}
