\{% extends "layout.html" %}

{% block pageTitle %}
This service is only for tree preservation order appeals - Eligibility - Appeal a planning decision - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This service is only for tree preservation order appeals</h1>
        <p class="govuk-body">
          This is a new service, not available for standard planning appeals.​ You can still appeal using our <a class="govuk-link" href="https://www.gov.uk/appeal-decision-about-tree-order/how-to-appeal">appeal a decision about a tree preservation order service</a>.​
        </p>
      </div>
    </div>

{% endblock %}
