{% extends "layout-new-footer.html" %}

{% block pageTitle %}
  Did you appeal a tree preservation order decision? - Eligibility - Appeal a planning decision - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/tpo-post" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Before you start</span>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "tpo",
          name: "tpo",
          errorMessage: errors['tpo'] and {
            text: errors['tpo'].msg
          },
          fieldset: {
            legend: {
              text: "Did you apply cut down or carry out work on a protected tree?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: { "data-cy": "answer-yes" },
              checked: tpo == true
            },
            {
              value: "no",
              text: "No",
              attributes: { "data-cy": "answer-no" },
              checked: tpo == false
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          type: "submit",
          attributes: { "data-cy":"button-save-and-continue"}
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
