{% extends "layout-home.html" %}

{% block pageTitle %}
  Archive of {{serviceName}} prototypes
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Archive of {{serviceName}} prototypes
      </h1>
      <p class="govuk-body">
        You can now access the most recent prototypes for {{ serviceName }} at <a href="https://pins-appeals.herokuapp.com/">https://pins-appeals.herokuapp.com/</a>.
      </p>
      <p class="govuk-body">
        This still exists as a home for older prototypes so that they can continue as working examples following the prototype kit upgrade from v9.10.0 to v11.0.0 which included breaking changes.
      </p>

    </div>
  </div>

{% endblock %}
