

{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Prototype list
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>

      <h2 class="govuk-heading-l">Beta</h2>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Appellant submission</h2>
      <p><a href="/appellant-submission">View appellant submission prototypes</a></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Appellant submission with integration</h2>
      <p><a href="/appellant-submission-integration">View appellant submission prototypes</a></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Track my appeal</h2>
      <p><a href="/manage-appeal">View track my appeal prototypes</a></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Information from local council</h2>
      <p><a href="/lpa-submission">View LPA prototypes</a></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Inspector views</h2>
      <p><a href="/inspector">View inspector view prototypes</a></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Footer and error pages</h2>
      <p><a href="/footer">View prototypes</a></p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-!-margin-bottom-9  govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <h2 class="govuk-heading-l">Alpha</h2>
      <p>Prototypes developed during alpha have been moved to a separate server:</p>
      <p><a href="https://has-appeal-alpha.herokuapp.com/">View alpha prototypes</a></p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-!-margin-bottom-9  govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Components</h2>
      <p>Examples of design patterns, for reference, not user testing. </p>
      <p><a href="/components">View prototypes</a></p>
    </div>
  </div>


</div>
{% endblock %}
