{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, contact Customer Support:
        </p>

        <ul class="govuk-list">
        	<li>Phone: <a href="teL:0303 444 5000">0303 444 5000</a></li>
        	<li>
        		email: <a href="mailto:enquiries@planninginspectorate.gov.uk">enquiries@planninginspectorate.gov.uk</a>
        	</li>
        </ul>
    </div>
  </div>
{% endblock %}
