{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal submitted - MVP
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/submitted-mvp">View Prototype</a>
              </li>
              <li>
                <a class="govuk-link" href="/lpa-submission/new-appeal/4">LPA view of Appeal Details</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal submitted
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/confirm-submitted">Submitted confirmation page</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/emails/submitted">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/submitted">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Planning Department submit evidence
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/emails/council-evidence">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/local-council-docs">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site inspection
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/emails/inspection-booked">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/inspection-booked">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal successful
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/emails/accepted">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/accepted">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal Unsuccessful
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/emails/rejected">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal/appellant/rejected">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

      </dl>
    </div>
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s">Current version</h4>
      <p>Last updated: Sprint 4 - not user tested</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Emails - all links now go to main manage appeal page (timeline)</li>
        <li>content updates</li>
        <li>appeal details accurately reflect appeal submission</li>
        <li>Planning department case file accurately reflects LPA submisison</li>
        <li>Added MVP version for submitted appeal</li>

      </ul>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Sprint 3
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>User journey created based on proof of concept for idox integration.</p>
          <ul class="govuk-list">
            <li><a href="https://has-appeal-alpha.herokuapp.com/manage-appeal-v5" class="govuk-link">View prototype</a></li>
            <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/355140178/Sprint+3+Findings+-+MVP+Manage+my+Appeal+Findings">User research findings</a></li>
          </ul>
        </div>
      </details>
    </div>
  </div>
</div>
{% endblock %}
